<mat-toolbar>
  <img class="logo" src="/assets/pictures/logo.png" alt="Logo" height="50">
  <span class="title">LocaleConnect</span>
  <span class="spacer"></span>

  <span class="nav-links">
    <a mat-button routerLink="pages/home">Home</a>
    <a mat-button routerLink="pages/meetups">Meetups</a>
    <a mat-button routerLink="pages/itineraries">Itineraries</a>
    <a mat-button routerLink="pages/guides">Guides</a>
    <a mat-button routerLink="pages/trips">Trips</a>
  </span>

  <button mat-icon-button (click)="openAccountMenu()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
