<mat-toolbar>
  <img class="logo" src="/assets/pictures/logo.png" alt="Logo" height="50">
  <span class="title">LocaleConnect</span>
  <span class="spacer"></span>

  <span class="nav-links">
    <a mat-button routerLink="pages/home">Home</a>
    <a mat-button routerLink="pages/meetups">Meetups</a>
    <a mat-button routerLink="pages/itineraries">Itineraries</a>
    <a mat-button routerLink="pages/guides">Guides</a>
    <a mat-button routerLink="pages/trips">Trips</a>
  </span>

  <button mat-icon-button (click)="toggleNotifications()" class="notification-button">
    <mat-icon>account_circle</mat-icon>
    <span class="notification-dot" *ngIf="hasNewNotifications"></span>
  </button>
  <div *ngIf="showNotifications" class="notifications-dropdown">
    <div class="title">Notifications</div>
    <div *ngFor="let notification of notifications" class="notification-item">
      <p>{{ notification.message }}</p>
      <small>{{ notification.sentAt | date: 'MMM d. y,  h:mm a' }}</small>
    </div>
  </div>
</mat-toolbar>
