mat-card {
  margin: 16px;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

mat-card-header {
  justify-content: space-between;
  align-items: center;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin: 8px;
}
img{
  width: 200px;
  height: 80px;
}
