# Default ignored files
/shelf/
/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dataSources.ids
/dataSources.xml
/sqlDataSources.xml
/dbnavigator.xml

# Editor-based HTTP Client requests
/httpRequests/

# IntelliJ IDEA specific
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iws
